@font-face {
	font-family: "Montserrat";
	src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
	font-family: "Montserrat-Light";
	src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

:root {
	--primary-color: #0a146e;
	--secondary-color: #081058;
	--text-white: #fff;
	--text-black: #121212;
}

* {
	font-family: "Montserrat";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	background-color: var(--primary-color);
}

::selection {
	color: white;
	background-color: var(--primary-color);
}

.card {
	width: 500px;
	background: var(--text-white);
	border-radius: 8px;
	margin: auto 0;
	padding: 30px;
}

.card h1 {
	font-family: "Montserrat-Light";
	font-size: 1.9rem;
	font-weight: 500;
	text-align: center;
	color: var(--secondary-color);
}
.card form {
	margin: 40px 0 20px;
}

form :where(input, select, button) {
	width: 100%;
	border: 0;
	border-radius: 5px;
	outline: 0;
}

form .input-group {
	position: relative;
}

form .input-group input {
	display: block;
	height: 40px;
	font: inherit;
	font-size: 18px;
	background-color: transparent;
	border: 0;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 10px;
	outline: 1px solid #999;
}

form .input-group input:is(:focus, :valid) {
	outline: 2px solid var(--primary-color);
}

form .input-group .span-error {
	display: none;
	font-size: 17px;
	color: #db5a5a;
	padding-left: 10px;
}

form .input-group.error input {
	border: 3px solid #db5a5a;
	outline: none;
}

form .input-group.error span {
	display: flex;
}

form .input-group .input-label {
	position: absolute;
	top: 0;
	left: 0;
	font-size: 18px;
	transform: translate(10px, 10px);
	transition: transform 0.25s;
}

form .input-group input:focus + .input-label,
input:valid + .input-label {
	background-color: white;
	padding-inline: 5px;
	transform: translate(10px, -12.4px) scale(0.8);
}

form .input-group label {
	font-size: 18px;
}

form .currencies {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 20px;
}

.currencies .select-box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 115px;
	height: 45px;
	border: 1px solid #999;
	border-radius: 5px;
}

.select-box img {
	max-width: 25px;
}

.select-box select {
	width: auto;
	font-size: 17px;
	background: 0;
	margin: 0 -5px 0 5px;
}

.select-box select::-webkit-scrollbar {
	width: 8px;
}

.select-box select::-webkit-scrollbar-track {
	background: var(--text-white);
}

.select-box select::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 8px;
	border-right: 2px solid var(--text-white);
}

.currencies .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: transparent;
	border: 1px solid #999;
	border-radius: 50%;
	margin-top: 15px;
	cursor: pointer;
}

.currencies .icon:hover,
.icon:focus {
	border: 2px solid var(--primary-color);
}

.currencies .icon img {
	width: 50%;
}

.exchange-rate {
	color: var(--text-black);
	font-family: sans-serif;
	font-weight: 600;
	font-size: 20px;
	margin-top: 20px;
}

.exchange-rate .currency {
	color: var(--primary-color);
	font-weight: 700;
}

form button {
	height: 45px;
	font-family: "Montserrat-Light";
	font-size: 22px;
	color: var(--text-white);
	background: var(--primary-color);
	margin-top: 20px;
	transition: 0.3s ease;
	cursor: pointer;
}

form button:hover {
	background: var(--secondary-color);
}

.status {
	align-self: flex-end;
	font-size: 1.15rem;
	color: #db5a5a;
	margin-right: 1rem;
	margin-bottom: 1rem;
}
